<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @attendee.first_name %> !</h1>
    <p> Quelqu'un participe a ton Event</p>
</html>